 .header {
   text-align: center;
   background-color: cyan;
   padding-top: 20px;
   padding-bottom: 20px;
   font-family: 'Germania One', cursive;
 }

 #number {
   float: right;
 }

 #hold {
   float: left;
   background-image: url("../images/Rolling-Dice.jpg");
   color: gray;
 }

 body {
   background-image: url("../images/Pig-Dice.jpg");
 }

 html {
   background-color: cyan;
 }

 #Roll-Dice {
   background-image: url("../images/Rolling-Dice.jpg");
   color: gray;
 }

 h3 {
   /*color: ;*/
 }

 p {
   /*color: ;*/
 }
